.cards-professor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 90px;
}

.card-professor {
	width: 280px;
	background-color: #1b1b1b;
	padding: 10px 5px;
	border-radius: 1.5rem;
	text-align: center;
}

.image-professor {
	width: 150px;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: 1em;
}

.name-professor {
	font-size: 15px;
	color: #494949;
	text-align: center;
	text-decoration: none;
}

.info-professor {
	margin: 1rem;
	text-align: left;
}

.info-professor i, .info-professor a {
	font-size: 12px;
	text-decoration: none;
	color: var(--color-white);
}

.extra-professor {
	margin-top: 1em;
	font-size: 13px;
	color: white;
}

.info-professor .email, .info-professor .instagram {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
} 

.info-professor .email span, .info-professor .instagram span {
  margin-right: 5px;
}

.card-professor > button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 1.7rem;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border: none;
  transition: all 300ms;
  cursor: pointer;
}

.card-professor > button:hover {
  background-color: var(--color-secondary-dark);
}

.backdrop {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.backdrop .backdrop-box {
  position: relative;
  background-color: var(--color-white);
  border-radius: 10px;
  display: inline;
  font-size: 1.7rem;
  
  padding: 50px 20px 20px;
  z-index: 1000;

  max-height: 70%;
  max-width: 80%;
}

.backdrop .backdrop-box {
  display: flex;
  justify-content: space-between;
}

.backdrop .backdrop-box .name-img-container {
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.backdrop .backdrop-box .name-img-container img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.backdrop .backdrop-box .name-img-container strong {
  font-size: 1.5rem;
}

.backdrop .backdrop-box .professor-other-information {
  width: 75%;
  overflow: auto;
}

.backdrop .backdrop-box .professor-other-information .details-text {
  margin-bottom: 30px;
}

.backdrop .backdrop-box .close-button {
  border: none;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 40px;
}

.backdrop .backdrop-box .close-button > span {
  border: none;
  color: black;
  position: absolute;
}