.cards-docente {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 90px;
}

.card-docente {
	width: 280px;
	height: 350px;
	background-color: #1b1b1b;
	padding: 5px;
	border-radius: 1.5rem;
}

.foto-docente {
	width: 150px;
	border-radius: 50%;
	display: block;
	margin: auto;
	margin-top: 1em;
}

.nome-docente {
	font-size: 15px;
	color: #494949;
	text-align: center;
}

.info-docente {
	margin: 1rem;
}

.info-docente i, .info-docente a {
	font-size: 12px;
	text-decoration: none;
	color: var(--color-white);
}

.extra-docente {
	margin-top: 1em;
	font-size: 13px;
  color: white;
}

.info-docente .email, .info-docente .instagram {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
} 

.info-docente .email span, .info-docente .instagram span {
  margin-right: 5px;
}